<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DB" value="USER ID=sis; PASSWORD=sis100; DATA SOURCE=SYAP" />
    <add key="PACKAGE_INQUERY" value="APG_XM_SENDMAIL.INQUERY" />
    <add key="PACKAGE_SAVE" value="APG_XM_SENDMAIL.SAVE" />
    <add key="SMTP_SERVER" value="192.168.3.101" />
    <add key="SMTP_ID" value="seoyon" /> <!-- 미사용시 공란 -->
    <add key="SMTP_PWD" value="seoyon@123" /><!-- 미사용시 공란 -->
    <add key="INTERVAL" value="5000" />
    <!--5초-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" />
        <bindingRedirect oldVersion="0.0.0.0-2.111.7.20" newVersion="4.112.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>