<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ax.SIS.SD.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Ax.SIS.SD.UI.Properties.Settings>
            <setting name="Ax_SIS_SD_UI_KIAService_Service" serializeAs="String">
                <value>https://kininvoice.kiaindia.net:81/Service.asmx</value>
            </setting>
        </Ax.SIS.SD.UI.Properties.Settings>
    </applicationSettings>
</configuration>