<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="theone.configuration" type="TheOne.Configuration.SectionHandler, OneCorLib"/>
    <sectionGroup name="Deploy">
      <section name="WebProjectDeployMapping" type="System.Configuration.DictionarySectionHandler"/>
      <section name="WinProjectDeployMapping" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>

  <theone.configuration>
    <generalSection>
      <add name="FileHandlerUrl" value="http://sis.seoyonehap.com/Services/DeployFileHandler.aspx"/>      
      <add name="SIS AnantapurFileHandlerUrl" value="http://sis.seoyonehap.com/Services/DeployFileHandler.aspx"/>
      <add name="DEVSIS AnantapurFileHandlerUrl" value="http://devsis.seoyonehap.com/Services/DeployFileHandler.aspx"/>
    </generalSection>
  </theone.configuration>

  <appSettings>
    <!-- 웹 프로젝트 폴더 및 파일 중 보여야할 대상 설정 -->
    <add key="WebProjectFolderList" value="bin;BM00;MM00;MM01;MM02;MM03;MM04;MM05;MM06;MM07;MP00;MP01;MP02;MP03;MP04;MP05;MP06;PM00;PM01;PM02;PM03;PM04;PM05;QA00;QA01;QA02;QA09;QA10;SD00;SD01;SD02;SD03;SD04;SD05;SD06;SD07;SD08;TM00;TM01;TM02;TM10;TM11;TM12;TM13;TM14;TM21"/>
    <add key="WebProjectFileList" value="svc;aspx;dll;txt;xls;rex;pdf"/>

    <!-- 윈도우 프로젝트 폴더 및 파일 중 보여야할 대상 설정 -->
    <add key="WinProjectFolderList" value=""/>
    <add key="WinProjectFileList" value="dll"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>

  <Deploy>
    <WebProjectDeployMapping>
      <!-- 로컬 폴더와 배포 경로를 매핑해준다 -->
      <!-- 기준 폴더는 WebProject 루트이다 -->
      <!--<add key="*.svc" value="Services/" />
      <add key="*.aspx" value="" />-->

      <add key="*.svc" value="Services/"/>
      <add key="*.aspx" value="Services/"/>
      <add key="bin/*.dll" value="Services/bin/"/>

      <add key="BM00/*.svc" value="Services/"/>
      <add key="MM00/*.svc" value="Services/"/>
      <add key="MM01/*.svc" value="Services/"/>
      <add key="MM02/*.svc" value="Services/"/>
      <add key="MM03/*.svc" value="Services/"/>
      <add key="MM04/*.svc" value="Services/"/>
      <add key="MM05/*.svc" value="Services/"/>
      <add key="MM06/*.svc" value="Services/"/>
      <add key="MM07/*.svc" value="Services/"/>
      <add key="MM08/*.svc" value="Services/"/>
      <add key="MM09/*.svc" value="Services/"/>
      <add key="MM10/*.svc" value="Services/"/>

      <add key="MP00/*.svc" value="Services/"/>
      <add key="MP01/*.svc" value="Services/"/>
      <add key="MP02/*.svc" value="Services/"/>
      <add key="MP03/*.svc" value="Services/"/>
      <add key="MP04/*.svc" value="Services/"/>
      <add key="MP05/*.svc" value="Services/"/>
      <add key="MP06/*.svc" value="Services/"/>

      <add key="PM00/*.svc" value="Services/"/>
      <add key="PM01/*.svc" value="Services/"/>
      <add key="PM02/*.svc" value="Services/"/>
      <add key="PM03/*.svc" value="Services/"/>
      <add key="PM04/*.svc" value="Services/"/>
      <add key="PM05/*.svc" value="Services/"/>

      <add key="QA00/*.svc" value="Services/"/>
      <add key="QA01/*.svc" value="Services/"/>
      <add key="QA02/*.svc" value="Services/"/>
      <add key="QA09/*.svc" value="Services/"/>
      <add key="QA10/*.svc" value="Services/"/>

      <add key="SD00/*.svc" value="Services/"/>
      <add key="SD01/*.svc" value="Services/"/>
      <add key="SD02/*.svc" value="Services/"/>
      <add key="SD03/*.svc" value="Services/"/>
      <add key="SD04/*.svc" value="Services/"/>
      <add key="SD05/*.svc" value="Services/"/>
      <add key="SD06/*.svc" value="Services/"/>
      <add key="SD07/*.svc" value="Services/"/>
      <add key="SD08/*.svc" value="Services/"/>

      <add key="TM00/*.svc" value="Services/"/>
      <add key="TM01/*.svc" value="Services/"/>
      <add key="TM02/*.svc" value="Services/"/>
      <add key="TM10/*.svc" value="Services/"/>
      <add key="TM11/*.svc" value="Services/"/>
      <add key="TM12/*.svc" value="Services/"/>
      <add key="TM13/*.svc" value="Services/"/>
      <add key="TM14/*.svc" value="Services/"/>
      <add key="TM21/*.svc" value="Services/"/>

    </WebProjectDeployMapping>


    <WinProjectDeployMapping>
      <!-- 로컬 폴더와 배포 경로를 매핑해준다.  -->
      <!-- 기준 폴더는 bin/debug 이다 -->
      <add key="*.dll" value="SmartClient/"/>
    </WinProjectDeployMapping>

  </Deploy>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
