<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="theone.configuration" type="TheOne.Configuration.SectionHandler, OneCorLib"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UI.TestContainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <theone.configuration>
    <appSection>
      <add name="REPORT_URL" value="http://rpt.seoyoneh.com/ReportViewer.aspx"/>

      <!-- UI.TestContainer 에서만 사용 -->
      <!-- 권한 정보 사용 여부 -->
      <add name="CheckSecurity" value="False"/>

      <add name="MenuXmlUrl" value="Menu.xml"/>

      <!--UI TestContainer 시작시 DB서버 선택창 유무-->
      <add name="UITestContainerOption" value="Y"/>

      <!--Visual Studio Version Setting-->
      <!--<add name="IDEVersion" value="VisualStudio.DTE.10.0"/>-->
      <add name="IDEVersion" value="VisualStudio.DTE.12.0"/>
    </appSection>

    <generalSection>
      <add name="FileHandlerUrl" value="http://sis.seoyoneh.com/Services/FileHandler.aspx"/>

      <add name="All_India India+AnantapurFileHandlerUrl" value="http://sis.seo-yon.in/Services/FileHandler.aspx"/>
      <add name="SIS AnantapurFileHandlerUrl" value="http://sis.seoyonehap.com/Services/FileHandler.aspx"/>
      <add name="DEVSIS AnantapurFileHandlerUrl" value="http://devsis.seoyonehap.com/Services/FileHandler.aspx"/>

      <add name="SIS IndiaFileHandlerUrl" value="http://sis.seoyoneh.in/Services/FileHandler.aspx"/>
      <add name="DEVSIS IndiaFileHandlerUrl" value="http://devsis.seoyoneh.in/Services/FileHandler.aspx"/>
    </generalSection>

    <serverSection>

      <add name="India+Anantapur" value="http://sis.seo-yon.in/service/MenuProvider.aspx"/>
      <add name="SIS-아난타푸르" value="http://sis.seoyonehap.com/service/MenuProvider.aspx"/>
      <add name="DEVSIS-아난타푸르" value="http://devsis.seoyonehap.com/service/MenuProvider.aspx"/>

      <add name="SIS-서연이화IN" value="http://sis.seoyoneh.in/service/MenuProvider.aspx"/>
      <add name="DEVSIS-서연이화IN" value="http://devsis.seoyoneh.in/service/MenuProvider.aspx"/>
      <add name="ERM-서연이화IN" value="http://erm.seoyoneh.in/erm/service/MenuProvider.aspx"/>
    </serverSection>
    <DBSection>

      <add name="India+Anantapur" value="India+Anantapur"/>
      <add name="SIS Anantapur" value="SIS Anantapur"/>
      <add name="DEVSIS Anantapur" value="DEVSIS Anantapur"/>
      <add name="SIS India" value="SIS India"/>
      <add name="DEVSIS India" value="DEVSIS India"/>
    </DBSection>
    <languageSection>
      <add name="Korean" value="ko-KR"/>
      <add name="English" value="en-US"/>
      <add name="India" value="en-IN"/>
      <add name="Slovak" value="sk-SK"/>
    </languageSection>
    <messageSection defaultProvider="SIS Korea">
      <provider name="SIS India" type="TheOne.Text.UrlMessageProvider, OneCorLib">
        <parameter name="Url" value="http://sis.seoyoneh.in/services/GetMessage.aspx"/>
      </provider>
      <provider name="DEVSIS India" type="TheOne.Text.UrlMessageProvider, OneCorLib">
        <parameter name="Url" value="http://devsis.seoyoneh.in/services/GetMessage.aspx"/>
      </provider>


      <provider name="India+Anantapur" type="TheOne.Text.UrlMessageProvider, OneCorLib">
        <parameter name="Url" value="http://sis.seo-yon.in/services/GetMessage.aspx"/>
      </provider>

      <provider name="SIS Anantapur" type="TheOne.Text.UrlMessageProvider, OneCorLib">
        <!--<parameter name="Url" value="http://erm.seoyoneh.com/erm/web/GetMessage.aspx"/>-->
        <parameter name="Url" value="http://sis.seoyonehap.com/services/GetMessage.aspx"/>
      </provider>

      <provider name="DEVSIS Anantapur" type="TheOne.Text.UrlMessageProvider, OneCorLib">
        <!--<parameter name="Url" value="http://erm.seoyoneh.com/erm/web/GetMessage.aspx"/>-->
        <parameter name="Url" value="http://devsis.seoyonehap.com/services/GetMessage.aspx"/>
      </provider>
    </messageSection>

    <!-- WCF Service에 대한 설정 -->
    <serviceModelSection>
      <addresses defaultAddress="SIS Korea">
        <!--<add name="HCM" url="http://erm.seoyoneh.com/erm/services/"/> -->

        <add name="SIS Anantapur" url="http://sis.seoyonehap.com/services/"/>
        <add name="DEVSIS Anantapur" url="http://devsis.seoyonehap.com/services/"/>
        <add name="India+Anantapur" url="http://sis.seo-yon.in/services/"/>

        <add name="SIS India" url="http://sis.seoyoneh.in/services/"/>
        <add name="DEVSIS India" url="http://devsis.seoyoneh.in/services/"/>

        <add name="CM" url="http://erm.seoyoneh.com/erm/services/"/>
        <add name="PD" url="http://localhost.com/Ax.SIS.PD.WS/"/>
        <add name="PM" url="http://ERM.SEOYONEH.COM/ERM/SERVICES/"/>
        <add name="XM" url="http://localhost.com/Ax.SIS.XM.WS/"/>
        <add name="EI" url="http://localhost.com/Ax.SIS.EI.WS/"/>
        <add name="FT00" url="http://localhost.com/Ax.SIS.FT.WS/FT00/"/>
        <add name="HR" url="http://localhost.com/Ax.SIS.HR.WS/" />
        <add name="GA" url="http://localhost.com/Ax.SIS.GA.WS/" />
        <add name="QM" url="http://localhost.com/Ax.SIS.QM.WS/" />

        <add name="IT00" url="http://localhost.com/Ax.SIS.IT.WS/IT00/"/>

        <add name="BM00" url="http://localhost.com/Ax.SIS.BM.WS/BM00/"/>
        <add name="BM01" url="http://localhost.com/Ax.SIS.BM.WS/BM01/"/>
        <add name="BM02" url="http://localhost.com/Ax.SIS.BM.WS/BM02/"/>
        <add name="BM03" url="http://localhost.com/Ax.SIS.BM.WS/BM03/"/>
        <add name="BM04" url="http://localhost.com/Ax.SIS.BM.WS/BM04/"/>
        <add name="BM05" url="http://localhost.com/Ax.SIS.BM.WS/BM05/"/>
        <add name="BM06" url="http://localhost.com/Ax.SIS.BM.WS/BM06/"/>
        <add name="BM07" url="http://localhost.com/Ax.SIS.BM.WS/BM07/"/>
        <add name="BM08" url="http://localhost.com/Ax.SIS.BM.WS/BM08/"/>
        <add name="BM09" url="http://localhost.com/Ax.SIS.BM.WS/BM09/"/>
        <add name="BM10" url="http://localhost.com/Ax.SIS.BM.WS/BM10/"/>

        <add name="MF00" url="http://localhost.com/Ax.SIS.MF.WS/MF00/"/>
        <add name="MF01" url="http://localhost.com/Ax.SIS.MF.WS/MF01/"/>
        <add name="MF02" url="http://localhost.com/Ax.SIS.MF.WS/MF02/"/>
        <add name="MF03" url="http://localhost.com/Ax.SIS.MF.WS/MF03/"/>
        <add name="MF04" url="http://localhost.com/Ax.SIS.MF.WS/MF04/"/>
        <add name="MF05" url="http://localhost.com/Ax.SIS.MF.WS/MF05/"/>
        <add name="MF06" url="http://localhost.com/Ax.SIS.MF.WS/MF06/"/>
        <add name="MF07" url="http://localhost.com/Ax.SIS.MF.WS/MF07/"/>
        <add name="MF08" url="http://localhost.com/Ax.SIS.MF.WS/MF08/"/>
        <add name="MF09" url="http://localhost.com/Ax.SIS.MF.WS/MF09/"/>
        <add name="MF10" url="http://localhost.com/Ax.SIS.MF.WS/MF10/"/>

        <add name="MM00" url="http://localhost.com/Ax.SIS.MM.WS/MM00/"/>
        <add name="MM01" url="http://localhost.com/Ax.SIS.MM.WS/MM01/"/>
        <add name="MM02" url="http://localhost.com/Ax.SIS.MM.WS/MM02/"/>
        <add name="MM03" url="http://localhost.com/Ax.SIS.MM.WS/MM03/"/>
        <add name="MM04" url="http://localhost.com/Ax.SIS.MM.WS/MM04/"/>
        <add name="MM05" url="http://localhost.com/Ax.SIS.MM.WS/MM05/"/>
        <add name="MM06" url="http://localhost.com/Ax.SIS.MM.WS/MM06/"/>
        <add name="MM07" url="http://localhost.com/Ax.SIS.MM.WS/MM07/"/>
        <add name="MM08" url="http://localhost.com/Ax.SIS.MM.WS/MM08/"/>
        <add name="MM09" url="http://localhost.com/Ax.SIS.MM.WS/MM09/"/>
        <add name="MM10" url="http://localhost.com/Ax.SIS.MM.WS/MM10/"/>

        <add name="MP00" url="http://localhost.com/Ax.SIS.MP.WS/MP00/"/>
        <add name="MP01" url="http://localhost.com/Ax.SIS.MP.WS/MP01/"/>
        <add name="MP02" url="http://localhost.com/Ax.SIS.MP.WS/MP02/"/>
        <add name="MP03" url="http://localhost.com/Ax.SIS.MP.WS/MP03/"/>
        <add name="MP04" url="http://localhost.com/Ax.SIS.MP.WS/MP04/"/>
        <add name="MP05" url="http://localhost.com/Ax.SIS.MP.WS/MP05/"/>
        <add name="MP06" url="http://localhost.com/Ax.SIS.MP.WS/MP06/"/>
        <add name="MP07" url="http://localhost.com/Ax.SIS.MP.WS/MP07/"/>
        <add name="MP08" url="http://localhost.com/Ax.SIS.MP.WS/MP08/"/>
        <add name="MP09" url="http://localhost.com/Ax.SIS.MP.WS/MP09/"/>
        <add name="MP10" url="http://localhost.com/Ax.SIS.MP.WS/MP10/"/>

        <add name="PM00" url="http://erm.seoyoneh.com/erm/services/"/>
        <add name="PM01" url="http://erm.seoyoneh.com/erm/services/"/>
        <add name="PM02" url="http://erm.seoyoneh.com/erm/services/"/>
        <add name="PM03" url="http://erm.seoyoneh.com/erm/services/"/>
        <add name="PM04" url="http://erm.seoyoneh.com/erm/services/"/>
        <add name="PM05" url="http://erm.seoyoneh.com/erm/services/"/>
        <add name="PM06" url="http://localhost.com/Ax.SIS.PM.WS/PM06/"/>
        <add name="PM07" url="http://localhost.com/Ax.SIS.PM.WS/PM07/"/>
        <add name="PM08" url="http://localhost.com/Ax.SIS.PM.WS/PM08/"/>
        <add name="PM09" url="http://localhost.com/Ax.SIS.PM.WS/PM09/"/>
        <add name="PM10" url="http://localhost.com/Ax.SIS.PM.WS/PM10/"/>

        <add name="QA00" url="http://localhost.com/Ax.SIS.QA.WS/QA00/"/>
        <add name="QA01" url="http://localhost.com/Ax.SIS.QA.WS/QA01/"/>
        <add name="QA02" url="http://localhost.com/Ax.SIS.QA.WS/QA02/"/>
        <add name="QA03" url="http://localhost.com/Ax.SIS.QA.WS/QA03/"/>
        <add name="QA04" url="http://localhost.com/Ax.SIS.QA.WS/QA04/"/>
        <add name="QA05" url="http://localhost.com/Ax.SIS.QA.WS/QA05/"/>
        <add name="QA06" url="http://localhost.com/Ax.SIS.QA.WS/QA06/"/>
        <add name="QA07" url="http://localhost.com/Ax.SIS.QA.WS/QA07/"/>
        <add name="QA08" url="http://localhost.com/Ax.SIS.QA.WS/QA08/"/>
        <add name="QA09" url="http://localhost.com/Ax.SIS.QA.WS/QA09/"/>
        <add name="QA10" url="http://localhost.com/Ax.SIS.QA.WS/QA10/"/>

        <add name="SD00" url="http://localhost.com/Ax.SIS.SD.WS/SD00/"/>
        <add name="SD01" url="http://localhost.com/Ax.SIS.SD.WS/SD01/"/>
        <add name="SD02" url="http://localhost.com/Ax.SIS.SD.WS/SD02/"/>
        <add name="SD03" url="http://localhost.com/Ax.SIS.SD.WS/SD03/"/>
        <add name="SD04" url="http://localhost.com/Ax.SIS.SD.WS/SD04/"/>
        <add name="SD05" url="http://localhost.com/Ax.SIS.SD.WS/SD05/"/>
        <add name="SD06" url="http://localhost.com/Ax.SIS.SD.WS/SD06/"/>
        <add name="SD07" url="http://localhost.com/Ax.SIS.SD.WS/SD07/"/>
        <add name="SD08" url="http://localhost.com/Ax.SIS.SD.WS/SD08/"/>
        <add name="SD09" url="http://localhost.com/Ax.SIS.SD.WS/SD09/"/>
        <add name="SD10" url="http://localhost.com/Ax.SIS.SD.WS/SD10/"/>

        <add name="TM00" url="http://localhost.com/Ax.SIS.TM.WS/TM00/"/>
        <add name="TM01" url="http://localhost.com/Ax.SIS.TM.WS/TM01/"/>
        <add name="TM02" url="http://localhost.com/Ax.SIS.TM.WS/TM02/"/>
        <add name="TM03" url="http://localhost.com/Ax.SIS.TM.WS/TM03/"/>
        <add name="TM04" url="http://localhost.com/Ax.SIS.TM.WS/TM04/"/>
        <add name="TM05" url="http://localhost.com/Ax.SIS.TM.WS/TM05/"/>
        <add name="TM06" url="http://localhost.com/Ax.SIS.TM.WS/TM06/"/>
        <add name="TM07" url="http://localhost.com/Ax.SIS.TM.WS/TM07/"/>
        <add name="TM08" url="http://localhost.com/Ax.SIS.TM.WS/TM08/"/>
        <add name="TM09" url="http://localhost.com/Ax.SIS.TM.WS/TM09/"/>
        <add name="TM10" url="http://localhost.com/Ax.SIS.TM.WS/TM10/"/>
        <add name="TM11" url="http://localhost.com/Ax.SIS.TM.WS/TM11/"/>
        <add name="TM12" url="http://localhost.com/Ax.SIS.TM.WS/TM12/"/>
        <add name="TM13" url="http://localhost.com/Ax.SIS.TM.WS/TM13/"/>
        <add name="TM14" url="http://localhost.com/Ax.SIS.TM.WS/TM14/"/>
        <add name="TM15" url="http://localhost.com/Ax.SIS.TM.WS/TM15/"/>
        <add name="TM16" url="http://localhost.com/Ax.SIS.TM.WS/TM16/"/>
        <add name="TM17" url="http://localhost.com/Ax.SIS.TM.WS/TM17/"/>
        <add name="TM18" url="http://localhost.com/Ax.SIS.TM.WS/TM18/"/>
        <add name="TM19" url="http://localhost.com/Ax.SIS.TM.WS/TM19/"/>
        <add name="TM20" url="http://localhost.com/Ax.SIS.TM.WS/TM20/"/>
        <add name="TM21" url="http://localhost.com/Ax.SIS.TM.WS/TM21/"/>
        <add name="TM22" url="http://localhost.com/Ax.SIS.TM.WS/TM22/"/>
        <add name="TM23" url="http://localhost.com/Ax.SIS.TM.WS/TM23/"/>
        <add name="TM24" url="http://localhost.com/Ax.SIS.TM.WS/TM24/"/>
        <add name="TM25" url="http://localhost.com/Ax.SIS.TM.WS/TM25/"/>
        <add name="TM26" url="http://localhost.com/Ax.SIS.TM.WS/TM26/"/>
        <add name="TM27" url="http://localhost.com/Ax.SIS.TM.WS/TM27/"/>
        <add name="TM28" url="http://localhost.com/Ax.SIS.TM.WS/TM28/"/>
        <add name="TM29" url="http://localhost.com/Ax.SIS.TM.WS/TM29/"/>
        <add name="TM30" url="http://localhost.com/Ax.SIS.TM.WS/TM30/"/>
      </addresses>
      <bindings defaultBinding="customBinding">
        <add name="customBinding" binding="customBinding" bindingConfiguration="customBinding"/>
      </bindings>
    </serviceModelSection>
  </theone.configuration>

  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="TheOne.ServiceModel.GZipEncoder.GZipMessageEncodingElement, TheOne.ServiceModel"/>
      </bindingElementExtensions>
    </extensions>

    <bindings>
      <customBinding>
        <binding name="customBinding" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" operationMode="enabled">
            <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          </gzipMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" transferMode="Buffered" keepAliveEnabled="false"/>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>

  <userSettings>
    <UI.TestContainer.Properties.Settings>
      <setting name="CultureInfo" serializeAs="String">
        <value>ko-KR</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>DEV1</value>
      </setting>
      <setting name="SecurityMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DBServer" serializeAs="String">
        <value />
      </setting>
      <setting name="RestartYN" serializeAs="String">
        <value>N</value>
      </setting>
    </UI.TestContainer.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
